/* Home Explore Section */
.home_explore-container {
    width: 100%;
    padding: 60px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* Explore Top */
.explore-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    text-align: left;
}

.explore-top h1 {
    flex: 1;
    color: #242424;
    font-family: Cormorant Garamond;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0;
    position: relative;
}

.explore-top p {
    font-size: 16px;
    color: #555;
    flex: 1;
    padding-left: 20px;
}

/* Explore Bottom */
.explore-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    background: #f6ebe7;
    padding: 20px;
}

/* Bottom Items */
.explore-bottom-item {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    text-align: left;
    padding: 20px;
}

/* Vertical Line */
.explore-bottom-item:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

/* Image */
.explore-bottom-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* Content */
.explore-bottom-content h3 {
    font-size: 32px;
    font-weight: 400;
    color: rgb(59, 58, 58);
    margin-bottom: 5px;
    font-family: Cormorant Garamond;
    

}

.explore-bottom-content p {
    font-size: 14px;
    color: #555;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .home_explore-container{
        display: none;
    }

    .explore-top {
        flex-direction: column;
        text-align: center;
        
    }
  
    .explore-top p {
        padding-left: 0;
        margin-top: 15px;
    }

    .explore-bottom {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .explore-bottom-item {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    /* Remove vertical line on mobile */
    .explore-bottom-item:not(:last-child) {
        border-right: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 20px;
    }
}
