
    .about-landing-container {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      padding: 50px 20px;
    }
  
    .about-landing-left, .about-landing-right {
      width: 50%;
    }
    .about-landing-left span {
        font-size: 1.5rem;
        color: #01a1a1;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        display: inline-flex;
        align-items: center; 
        gap: 1px;
      }
      
      .about-landing-left span::before {
        content: "";
        width: 28px; 
        height: 25px;
        background-image: url("../../../../assets/images/lotus2.png");
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
      }
      
    .about-landing-left h2 {
      font-size: 3rem;
      color: #333;
      margin-bottom: 20px;
      line-height: 1.3;
      font-weight: 500;
      /* font-family: Cormorant Garamond; */
    }
  
    .about-landing-left p {
      font-size: 1.1rem;
      color: #666;
      line-height: 1.8;
      /* margin-bottom: 25px; */
    }

    .about-landing-left .listed-items{
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 20px;
    }
  
    .about-landing-left ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0;

    }
  
    .about-landing-left ul li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 0.9rem;
      color: #515151;
      font-weight: 500;
      margin-bottom: 10px;
    }
  
    .about-landing-left ul li svg {
      color: #01a1a1;
      font-size: 1.5rem;
    }
  
    .about-landing-left button {
        line-height: 1.4;
        padding: 1.2rem 3.2rem;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: #01a1a1;
        background: transparent;
        overflow: hidden;
        text-align: center;
        border-radius: 30px;
        border: 1px solid #01a1a1;;
        overflow: hidden;
        display: inline-block;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
    }
  
    .about-landing-left button:hover {
      background: #01a1a1;
      color: white;
    }
  
    .about-landing-right {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .about-landing-right img {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
        -webkit-mask-image: url('../../../../assets/images/ab-shape1.png');
        -webkit-mask-size: contain;
        -webkit-mask-position: center center;
        -webkit-mask-repeat: no-repeat;
        object-fit: cover;
      }
    
      .img-bottom-left-corner {
        position: absolute;
        bottom: 10px;
        left: 0;
        background: #01a1a1;
        color: white;
        padding: 50px 60px;
        border-radius: 25px;
        text-align: center;
      }
    
      .img-bottom-left-corner p {
        margin: 0;
        font-size: 1rem;
        letter-spacing: 0.5px;
      }

      /* For tablets and smaller desktops (max-width: 1024px) */
@media (max-width: 1024px) {
    .about-landing-container {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      gap: 30px;
    }
  
    .about-landing-left, 
    .about-landing-right {
      width: 80%;
    }
  
    .about-landing-left .listed-items {
      flex-direction: column;
      align-items: center;
    }
  
    .about-landing-left ul {
      align-items: center;
    }
  
    .about-landing-left h2 {
      font-size: 2.5rem;
    }
  
    .img-bottom-left-corner {
      padding: 30px 40px;
      border-radius: 20px;
    }
  }
  
  /* For mobile screens (max-width: 768px) */
  @media (max-width: 768px) {
    .about-landing-left, 
    .about-landing-right {
      width: 100%;
    }
  
    .about-landing-left h2 {
      font-size: 2rem;
    }
  
    .about-landing-left p {
      font-size: 1rem;
    }
  
    .about-landing-left .listed-items {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  
    .about-landing-left ul li {
      font-size: 15px;
    }
    .about-landing-left ul{
        margin-bottom: 0;
    }
    .about-landing-left button {
      padding: 1rem 2.5rem;
      font-size: 0.9rem;
    }
  
    .about-landing-right img {
      border-radius: 8px;
    }
  
    .img-bottom-left-corner {
      padding: 20px 30px;
      font-size: 0.9rem;
    }
  }
  
  /* For small mobile screens (max-width: 480px) */
  @media (max-width: 480px) {
    .about-landing-left h2 {
      font-size: 1.8rem;
    }
  
    .about-landing-left p {
      font-size: 0.9rem;
    }
  
    .about-landing-left ul li {
      font-size: 15px;
    }
  
    .about-landing-left button {
      padding: 0.8rem 2rem;
      font-size: 0.85rem;
    }
  
    .img-bottom-left-corner {
      padding: 20px 20px;
      font-size: 0.8rem;
    }
  }
  